// Spacing Utilities
// Margin utilities
@for $i from 10 through 100 {
  .mt-#{$i} { margin-top: #{$i}px; }
  .mb-#{$i} { margin-bottom: #{$i}px; }
  .ml-#{$i} { margin-left: #{$i}px; }
  .mr-#{$i} { margin-right: #{$i}px; }
  .mx-#{$i} { margin-left: #{$i}px; margin-right: #{$i}px; }
  .my-#{$i} { margin-top: #{$i}px; margin-bottom: #{$i}px; }
  .m-#{$i} { margin: #{$i}px; }
}

// Padding utilities
@for $i from 10 through 100 {
  .pt-#{$i} { padding-top: #{$i}px; }
  .pb-#{$i} { padding-bottom: #{$i}px; }
  .pl-#{$i} { padding-left: #{$i}px; }
  .pr-#{$i} { padding-right: #{$i}px; }
  .px-#{$i} { padding-left: #{$i}px; padding-right: #{$i}px; }
  .py-#{$i} { padding-top: #{$i}px; padding-bottom: #{$i}px; }
  .p-#{$i} { padding: #{$i}px; }
}
